[client]
user = root
password = root

[mysql]
prompt = 'mysql (\u@\d)> '

[mysqld]
sql_mode = "NO_ENGINE_SUBSTITUTION"
collation-server = utf8_general_ci
character-set-server = utf8
innodb_flush_log_at_trx_commit = 2
